
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,600&display=swap');

:root{
    --color-body:#b6cbce;
    --color-heading:#eef3db;
    --color-base:#033f47;
    --color-base2:#022a30 ;
    --color-brand:#e0f780;
    --color-brand2:#deff58;
    --sidbar-width:240px;
    --font-base:'Bai Jamjuree'

}
html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: var(--color-base);
}
html::-webkit-scrollbar-track{
    background-color: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--color-brand2);
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}
body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base),sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;

}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;


}
a:hover{
    color:var(--color-brand)

}

img{
    width: 100%;

}
.text-brand{
    color: var(--color-brand);
}
.bg-base{
    background-color: var(--color-base);
}
.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    border-bottom: 2px solid rgba(255,255,255,0.2);
}

.shadow-efect{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.shadow-efect:hover{
    box-shadow: -6px 6px 0 0 var(--color-brand);
}
.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand2);
    color: var(--color-base);
}
/*!  NAVBAR */
.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color:#fff ;
}
.navbar .nav-link.active{
    color: var(--color-brand);
}
.navbar{
    background-color: var(--color-base);
}
.navbar .nav-link:hover{
    color: var(--color-brand);
}
@media (min-width:992px) {
    .navbar{
        min-height: 100vh;
        width: var(--sidbar-width);
        background:linear-gradient(rgba(3,63,71,0.6) , rgba(3,63,71,0.7) ), url(/images/sidebar-img.jpg);

        background-size: cover;
        background-position: center;

    }
    .navbar-brand img{
        border: 8px solid var(--color-brand);
    }

    /*content-wrapper */
    #content-wrapper{
        padding-left:var(--sidbar-width) ;
    }
}




/*!  NAVBAR */
/*!  WORK */
.card-custom .card-custom-image
{
overflow: hidden;
}
.card-custom-image img {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.card-custom:hover .card-custom-image img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/*!  WORK */
/*!  Contact */
#contact .form-control{

    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}
#contact .form-control:focus{
border-color: var(--color-brand);
box-shadow: none;

}
#contact input.form-control{
    height: 44px;
}
/*!  Contact */
/*!  Social İcons */

.social-icons{

}

.social-icons a{
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    font-size: 24px;
}

/*!  BTN */

.btn{
    padding: 12px 28px;
    font-weight: 700;
}
.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base)
}
.btn-brand:hover,
.btn-brand:focus{
    background-color: var(--color-brand2) !important;
    color: var(--color-base) !important;
    border-color: var(--color-brand2);
}
.link-custom{
    font-weight: 700;
    position: relative;
}
.link-custom::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.link-custom:hover::after{
    width: 100%;
}